@import "~bootstrap/scss/bootstrap.scss"; 
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  height: 100px;
  width: 100%;
  z-index: 100;

  &__logo {
    font-family: 'Libre Barcode 39 Text', cursive;
    color: white;
    padding-left: 24px;
  }

  &__menu-btn {
    background-color: unset;
    border: none;
    outline: none !important;
    padding-right: 24px;
    cursor: pointer;
    & > span {
      background-color: white;
      width: 35px;
      height: 2px;
      display: block;
      margin-bottom: 9px;
    }
  
  }
}

.main {
  height: 1000px;
  width: 100%;
  background: url('/dist/img/B2BCA164-5A10-4827-ACF3-7A93D339BB5B.jpeg');
  background-size: cover;
  &__title {
    font-family: 'Michroma', sans-serif;
    font-size: 48px;
    padding-top: 400px;
    text-align: center;
    color: white;
    z-index: 100;
  }
  &__title-space {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__subtitle {
    padding-top: 20px;
    font-size: 24px;
    display: block;
    text-align: center;
    color: white;
    z-index: 200;
  }
}

.profile {
  height: 1000px;
  width: 100%;
  z-index: 100;
  background-color: gray;
}

.photo {
  height: 1000px;
  width: 100%;
  background-color: lightgrey;
}

.movie {
  height: 1000px;
  width: 100%;
  background-color: whitesmoke;
}

.contact {
  height: 1000px;
  width: 100%;
  background-color: white;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: black;
}