@import "~bootstrap/scss/bootstrap.scss"; 
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
// @import "~swiper/swiper-bundle.css";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  height: 88px;
  width: 100%;
  z-index: 100;

  &__logo {
    font-family: 'Libre Barcode 39 Text', cursive;
    color: white;
    padding-left: 24px;
  }

  &__menu-btn {
    background-color: unset;
    border: none;
    outline: none !important;
    padding-right: 24px;
    cursor: pointer;
    & > span {
      background-color: white;
      width: 35px;
      height: 2px;
      display: block;
      margin-bottom: 9px;
    }
  
  }
}

.main {
  height: 1000px;
  width: 100%;
  background: url('/dist/img/65A59F83-AC57-46D2-B6DB-74B8D27E4093.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    font-family: 'Michroma', sans-serif;
    font-size: 48px;
    padding-top: 392px;
    text-align: center;
    color: white;
    z-index: 100;
  }
  &__title-space {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__subtitle {
    padding-top: 20px;
    font-size: 24px;
    display: block;
    text-align: center;
    color: white;
    z-index: 200;
  }
}

.profile {
  height: 560px;
  width: 100%;
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__title {
    padding-top: 40px;
    text-align: center;
    font-family: 'Michroma', sans-serif;
  }
  &__image > img {
    height: 320px;
    width: 320px;
    border-radius: 50% 50%;
    margin-top: 48px;
  }
  &__text > a {
    font-size: 32px;
    padding-right: 16px;
    margin-top: 16px;
    & .fa-twitter {
      color: rgb(70, 183, 228);
    }
    & .fa-instagram {
      background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
      background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
      background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
     -webkit-text-fill-color:transparent;
    }
    & .fa-youtube {
      color: red;
    }
  }
}



.movie {
  height: 1000px;
  width: 100%;
  background-color: whitesmoke;
}

.contact {
  height: 1000px;
  width: 100%;
  background-color: white;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: black;
}

// Responsive
@media screen and (max-width:480px) {
  .header {
    height: 50px;
  }
  .main {
    &__title {
      padding-top: 200px;
      font-size: 24px;
    }
    &__subtitle {
      font-size: 16px;
    }
  }
}